numpy
numba
scipy
tensorboard
librosa
pytorch-lightning
gradio
gradio_client
ffmpeg-python
onnxruntime
tqdm
funasr
cn2an
pypinyin
g2p_en
torchaudio
modelscope
sentencepiece
transformers
chardet
PyYAML
psutil
jieba_fast
jieba
LangSegment
Faster_Whisper
wordsegment